/*-- scss:defaults --*/

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// https://sci-hub.ru/10.1509/jmkr.41.2.215.28668
// https://www.w3schools.com/colors/colors_picker.asp hsl(240, 1, 0.42)
$primary: #0000d6 !default;
//https://www.researchgate.net/publication/263467223_The_effect_of_font_selection_on_student_test_anxiety
//$font-family-base: "Georgia", "Gelasio", "Linux Libertine", "Harriet", "Century Supra", //"Chronicle" !default;
$font-family-base: "Georgia" !default;
$font-family-code: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace" !default;

/*-- scss:rules --*/
#quarto-content>* {
    max-width: 2000px;
    padding-top: 0px;
}

#quarto-content {
    div.quarto-about-jolla {
            margin-top: 5%;
    }
}

body.fullcontent:not(.floating):not(.docked) .page-columns {
        display: grid;
        gap: 0;
        grid-template-columns: [screen-start] 1.5em [screen-start-inset page-start page-start-inset body-start-outset] 5fr [body-start] 1.5em [body-content-start] 1000px [body-content-end] 1.5em [body-end body-end-outset page-end-inset page-end] 5fr [screen-end-inset] 1.5em [screen-end];
}

#quarto-content {
    div.quarto-about-jolla {
        img.about-image.round {
            vertical-align: top;
            margin-right: 0;
        }
    }
}