/*-- scss:defaults --*/

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// https://sci-hub.ru/10.1509/jmkr.41.2.215.28668
// https://www.w3schools.com/colors/colors_picker.asp hsl(240, 1, 0.42)
$primary: #0000d6 !default;
//https://www.researchgate.net/publication/263467223_The_effect_of_font_selection_on_student_test_anxiety
//$font-family-base: "Georgia", "Gelasio", "Linux Libertine", "Harriet", "Century Supra", //"Chronicle" !default;
$font-family-base: "Georgia" !default;
$font-family-code: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace" !default;